
<div class="container mt-5 col-xl-4">
    <h4 class="text-center mb-4 pt-4">ADD COUPON</h4>
    <form action="/users/editCoupon/{{coupon._id}}" id="productPage" method="post">

        <div class="form-group first">
            <label for="category">Coupon code</label>
            <input type="text" value="{{coupon.coupon}}" class="form-control" name="coupon">

            <label class="pt-4">Starting Date</label>
            <input type="Date" value={{coupon.starting}} class="form-control" required name="starting" id="str">
            <label class="pt-4">Expiry Date</label>
            <input type="Date" value={{coupon.expiry}} class="form-control" required name="expiry" id="exp">
            <label class="pt-4">Limit</label>
            <input type="number" value="{{coupon.limit}}" class="form-control" required name="limit" id="lmt" min="1" max="20">
            <label class="pt-4">Coupon Percentage</label>
            <input type="text" value="{{coupon.offer}}" class="form-control" required min="1" name="offer" max="95"
                onkeypress="return isNumber(event)">
        </div>
        <div class="text-center">
            <button id="prosub" type="submit" class="btn  btn-success mt-3 ">Submit</button>
        </div>


    </form>
</div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib2/chart/chart.min.js"></script>
    <script src="lib2/easing/easing.min.js"></script>
    <script src="lib2/waypoints/waypoints.min.js"></script>
    <script src="lib2/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib2/tempusdominus/js/moment.min.js"></script>
    <script src="lib2/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib2/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js2/main.js"></script>
</body>

</html>